{% extends 'pictures/base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block styles %}
  <link rel="stylesheet" href="{% static 'pictures/css/home.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {% bootstrap_css %}
{% endblock %}
{% block content %}

<div class="cont">
    {% if images %}

    {% if length < 2 %}
       <div class="gallery">
        {% for image in images %}
          <div class="less-3" data-toggle="modal" data-target="#modal{{image.id}}">
          <div>
              <img src="{{image.image.url}}" alt="{{image.name}}">
          </div>
              <h3>{{image.name}}</h3>  
          </div>
          <div class="modal fade" id="modal{{image.id}}" tabindex="-1" aria-labelledby="Modalpic" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="Modalpic">{{image.name}}</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{{image.image.url}}" alt="{{image.name}}">
                    <div class="dits">
                        <div class="dits-1">
                            <p>{{image.description}}</p>
                            
                            <small> <span>Location:</span> {{image.location.name}}</small>
                            <small><span>Category:</span>{{image.category.name}}</small>
                        </div>
          
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button"  class="close-btn" data-dismiss="modal">Close</button>

                  <button class="copy">Copy url</button>
                  <p class="link">{{image.image.url}}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
         </div>

    {% else %}

     <div class="gallery">
        {% for image in images %}
            <div class="item" data-toggle="modal" data-target="#modal{{image.id}}">
            <div>
                <img src="{{image.image.url}}" alt="{{image.name}}">
            </div>
                <h3>{{image.name}}</h3>  
            </div>
             
              <div class="modal fade" id="modal{{image.id}}" tabindex="-1" aria-labelledby="Modalpic" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="Modalpic">{{image.name}}</h5>
                      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{image.image.url}}" alt="{{image.name}}">
                        <div class="dits">
                            <div class="dits-1">
                                <p>{{image.description}}</p>
                                
                                <small> <span>Location:</span> {{image.location.name}}</small>
                                <small><span>Category:</span>{{image.category.name}}</small>
                            </div>
              
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button"  class="close-btn" data-dismiss="modal">Close</button>

                      <button class="copy">Copy url</button>
                      <p class="link">{{image.image.url}}</p>
                    </div>
                  </div>
                </div>
              </div>

           {% endfor %}
      </div>

    {% endif %}

    {% else %}
      <p class="not-found">No images</p>
      

    {% endif %}
  
 
</div>




{% block scripts %}

  <script src="{% static 'gallery/js/modal.js'%}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
  {% bootstrap_javascript %}

{% endblock %}

{% endblock %}}